<h1>New Type</h1>

<%= form_for @type do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :body %>
  <%= f.collection_select :body_list, @bodies, :itself, :itself %><br>
  <%= f.submit %>
<% end %>
